# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/
ENV/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VSCode / JetBrains
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
