{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/products/css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/products/js/toggle_is_active.js' %}"></script>
{% endblock %}

{% block object-tools %}
{% if change and original %}
<div class="object-tools-flex">
    {{ block.super }}
    <div class="is-active-toggle-wrapper">
        <div class="is-active-toggle">
            <span class="label">Is Active?</span>
            <label class="switch-toggle">
                <input type="checkbox" id="is-active-toggle"
                       data-url="{% url 'admin:products_product_toggle_active' original.pk %}"
                       {% if original.is_active %}checked{% endif %}>
                <span class="switch-slider"></span>
            </label>
        </div>

        <div class="is-review-toggle">
            <span class="label">Review?</span>
            <label class="switch-toggle">
                <input type="checkbox" id="review-toggle"
                       data-url="{% url 'admin:products_product_toggle_review' original.pk %}"
                       {% if original.review %}checked{% endif %}>
                <span class="switch-slider"></span>
            </label>
        </div>

        <div id="is-active-notice" class="is-active-notice" style="display: none;"></div>
    </div>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
