{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block nav-global %}
<div style="padding: 1rem 2rem;">
    <form method="get" id="site-switcher">
        {% for key, value in request.GET.items %}
        {% if key != "site" %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
        {% endfor %}

        <label for="site-select" style="font-weight: bold; margin-right: 0.5rem;">Выбрать сайт:</label>
<select name="site" id="site-select">
  <option value="" {% if not current_site_id %}selected{% endif %}>-- Все сайты --</option>
{% for s in site_list %}
  <option value="{{ s.id }}" {% if current_site_id == s.id|stringformat:"s" %}selected{% endif %}> {{ s.name }}
  </option>
{% endfor %}
</select>

    </form>
{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'admin/js/site_switcher.js' %}"></script>
{% endblock %}

</div>
{% endblock %}
